{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="container center">
        <h1>Connexion</h1>
        <form method="post" class="row">
            {% if error %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            {% if app.user %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    Tu es actuellement connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnecte-toi</a>
                </div>
            {% endif %}
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" required autofocus placeholder="Adresse email">
            </div>

            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            <div class="input-field col s12">
                <input type="submit" class="btn btn-primary" value="Me connecter">
            </div>

            <div class="input-field col s12">
            <a href="{{ path('register') }}"> <input type="button" class="btn waves-effect waves-light"   value=" Inscris toi si ce n'est deja fait!!"> </a>
            </div>
        
        </form>
    </div>
{% endblock %}